@import url(../../assets/fonts/fonts.css);

.parent {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parent .container {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
}

.parent .container .top {
    width: 100%;
    height: 30%;
}

.parent .container .top .main-image-wrapper {
    background: linear-gradient(45deg, #dcdcdc, #ffffff);
    position: relative;
    height: 100%;
    width: 100%;
}

.parent .container .top .main-image-wrapper .main-image-shadow {
    height: 95%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-55%);
}

.parent .container .top .main-image-wrapper .main-image {
    height: 95%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.parent .container .middle {
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 15px 0 15px;
}

.parent .container .middle .gender-age {
    width: 100%;
    font-size: 8vh;
    text-transform: capitalize;
    font-family: Yfx, serif;
    word-spacing: 20px;
    text-align: center;
}

.parent .container .middle .designation {
    font-size: 2vh;
    text-align: center;
    text-transform: capitalize;
    font-family: Yfx, serif;
    letter-spacing: 3px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 15px 0 10px 0;
}

.parent .container .bottom {
    flex: 1;
    padding: 0 15px;
}

.parent .container .bottom .divide-container {
    display: flex;
    justify-content: space-between;
    padding-top: 2vh;
}

.parent .container .bottom .divide-container .name-description-container {
    width: 58%;
    display: flex;
    flex-direction: column;
}

.parent .container .bottom .divide-container .name-description-container .name {
    font-family: b-light, serif;
    font-size: 7vw;
    letter-spacing: 1px;
}

.parent .container .bottom .divide-container .name-description-container .noun-success {
    font-size: 5vw;
}

.parent .container .bottom .divide-container .name-description-container .noun-success span:first-child {
    font-family: b-bold-italic, serif;
}

.parent .container .bottom .divide-container .name-description-container .noun-success span:last-child {
    font-family: b-regular-italics, serif;
}

.parent .container .bottom .divide-container .name-description-container .description {
    font-family: b-regular-italics, serif;
    line-height: 1.5;
    letter-spacing: 2px;
    font-size: 3vw;
    margin-top: 1rem;
}

.parent .container .bottom .divide-container .contact-container {
    width: 39%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
}

.parent .container .bottom .divide-container .contact-container .split {
    display: flex;
    flex-direction: column;
}

.parent .container .bottom .divide-container .contact-container .split span:first-child {
    text-transform: uppercase;
    font-family: b-bold-italic, serif;
    font-size: 3.4vw;
}

.parent .container .bottom .divide-container .contact-container .split span:last-child {
    font-family: b-regular-italics, serif;
    font-size: 3.5vw;
    margin-top: 4px;
}

@media only screen and (max-width: 460px) {
    .parent .container .middle {
        height: 20%;
    }

    .parent .container .middle .gender-age {
        width: 100%;
        font-size: 6vh;
        text-transform: capitalize;
        font-family: Yfx, serif;
        word-spacing: 20px;
        text-align: center;
    }
}

/*# sourceMappingURL=style.css.map */
