@import "../../assets/styles/colors";

.mobile {
  display: none;
}

.desktop {
  .wrapper {
    position: relative;

    .scroll-container {
      display: flex;
      flex-wrap: nowrap;
      overflow: hidden;
      width: 100vw;
    }

    .left {
      position: absolute;
      left: 10px;
      top: 50%;
      font-family: Yfx, serif;
      color: $text-primary-color;
      font-size: 18px;
      letter-spacing: 1px;
      cursor: pointer;
    }

    .right {
      position: absolute;
      right: 10px;
      top: 50%;
      font-family: Yfx, serif;
      color: $text-primary-color;
      font-size: 18px;
      letter-spacing: 1px;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 700px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;

    .parent {
      width: 100vw;
      height: 100vh;
      position: relative;
    }

    .scroll-container {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      overflow: hidden;
      width: 100vw;
      height: 100vh;
    }

    .top-arrow-container {
      position: absolute;
      top: 0;
      height: 12.5vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .icon-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        left: 50%;
        transform: translateX(-50%) scale(0);

        img {
          width: 20px;
        }

        div {
          font-family: Yfx, serif;
          color: $text-primary-color;
          font-size: 16px;
          letter-spacing: 4px;
          text-transform: capitalize;
        }
      }

    }

    .bottom-arrow-container {
      position: absolute;
      bottom: 0;
      height: 12.5vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .icon-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        img {
          width: 20px;
          transform: rotate(180deg);
        }

        div {
          font-family: Yfx, serif;
          color: $text-primary-color;
          font-size: 16px;
          letter-spacing: 4px;
          text-transform: capitalize;
        }
      }
    }
  }
}
