@import "../../assets/styles/colors";

.parent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: #e2e2e2;

  .container {
    max-width: 2560px;
    width: 100%;
    height: 100%;

    .wrapper {
      position: relative;
      width: 100%;
      height: 100%;

      .cancel {
        position: absolute;
        top: 20px;
        left: 20px;
        cursor: pointer;
        z-index: 1;
      }

      .scroll-container {
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        width: 100%;
        height: 100%;
      }

      .prev-wrapper {
        position: absolute;
        left: 10px;
        top: 50%;
        font-family: Yfx, serif;
        color: $text-primary-color;
        font-size: 18px;
        letter-spacing: 1px;
        cursor: pointer;
        display: flex;
        z-index: 1;

        .text {
          font-size: 18px;
          letter-spacing: 1px;
          cursor: pointer;
          margin-left: 10px;
          padding-top: 4px;
        }

        .arrow {
          width: 20px;
          transform: rotate(270deg);
        }
      }

      .next-wrapper {
        display: flex;
        position: absolute;
        right: 10px;
        top: 50%;
        font-family: Yfx, serif;
        color: $text-primary-color;
        font-size: 18px;
        letter-spacing: 1px;
        cursor: pointer;
        z-index: 1;

        .text {
          font-size: 18px;
          letter-spacing: 1px;
          cursor: pointer;
          margin-right: 10px;
          padding-top: 4px;
        }

        .arrow {
          width: 20px;
          transform: rotate(90deg);
        }
      }
    }
  }
}

@media only screen and (max-width: 1500px) {
  .parent {

    .container {

      .wrapper {

        .prev-wrapper {

          .text {
            display: none;
          }
        }

        .next-wrapper {

          .text {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  .parent {

    .container {

      .wrapper {
        display: flex;

        .prev-wrapper {
          position: initial;
          padding: 0 5px;

          .text {
            display: none;
          }
        }

        .next-wrapper {
          position: initial;
          padding: 0 5px;

          .text {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {

  .parent {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: #FAFAFA;
    display: flex;
    flex-direction: column;
  }

  .top-arrow-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 120px;

    .logo-container {
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
    }

    .page-indicator-container {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 15px;
      display: flex;

      .page-indicator {
        width: 25px;
        height: 3px;
        border-radius: 30px;
        background: #353335;
        opacity: 0.3;

        &:nth-child(2) {
          margin: 0 5px;
        }

        &.active{
          opacity: 1;
        }
      }
    }
  }

  .scroll-container {
    display: flex;
    flex-wrap: nowrap;
    width: 100vw;
    height: 100vh;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    padding-top: 120px;
  }

  .scroll-container > div {
    width: 100vw;
    scroll-snap-align: start;
  }

}
