.parent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: #e2e2e2; }
  .parent .container {
    max-width: 2560px;
    width: 100%;
    height: 100%; }
    .parent .container .wrapper {
      position: relative;
      width: 100%;
      height: 100%; }
      .parent .container .wrapper .cancel {
        position: absolute;
        top: 20px;
        left: 20px;
        cursor: pointer;
        z-index: 1; }
      .parent .container .wrapper .scroll-container {
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        width: 100%;
        height: 100%; }
      .parent .container .wrapper .prev-wrapper {
        position: absolute;
        left: 10px;
        top: 50%;
        font-family: Yfx, serif;
        color: #000000;
        font-size: 18px;
        letter-spacing: 1px;
        cursor: pointer;
        display: flex;
        z-index: 1; }
        .parent .container .wrapper .prev-wrapper .text {
          font-size: 18px;
          letter-spacing: 1px;
          cursor: pointer;
          margin-left: 10px;
          padding-top: 4px; }
        .parent .container .wrapper .prev-wrapper .arrow {
          width: 20px;
          transform: rotate(270deg); }
      .parent .container .wrapper .next-wrapper {
        display: flex;
        position: absolute;
        right: 10px;
        top: 50%;
        font-family: Yfx, serif;
        color: #000000;
        font-size: 18px;
        letter-spacing: 1px;
        cursor: pointer;
        z-index: 1; }
        .parent .container .wrapper .next-wrapper .text {
          font-size: 18px;
          letter-spacing: 1px;
          cursor: pointer;
          margin-right: 10px;
          padding-top: 4px; }
        .parent .container .wrapper .next-wrapper .arrow {
          width: 20px;
          transform: rotate(90deg); }

@media only screen and (max-width: 1500px) {
  .parent .container .wrapper .prev-wrapper .text {
    display: none; }
  .parent .container .wrapper .next-wrapper .text {
    display: none; } }
@media only screen and (max-width: 1300px) {
  .parent .container .wrapper {
    display: flex; }
    .parent .container .wrapper .prev-wrapper {
      position: initial;
      padding: 0 5px; }
      .parent .container .wrapper .prev-wrapper .text {
        display: none; }
    .parent .container .wrapper .next-wrapper {
      position: initial;
      padding: 0 5px; }
      .parent .container .wrapper .next-wrapper .text {
        display: none; } }
@media only screen and (max-width: 700px) {
  .parent {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: #FAFAFA;
    display: flex;
    flex-direction: column; }

  .top-arrow-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 120px; }
    .top-arrow-container .logo-container {
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translateX(-50%); }
    .top-arrow-container .page-indicator-container {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 15px;
      display: flex; }
      .top-arrow-container .page-indicator-container .page-indicator {
        width: 25px;
        height: 3px;
        border-radius: 30px;
        background: #353335;
        opacity: 0.3; }
        .top-arrow-container .page-indicator-container .page-indicator:nth-child(2) {
          margin: 0 5px; }
        .top-arrow-container .page-indicator-container .page-indicator.active {
          opacity: 1; }

  .scroll-container {
    display: flex;
    flex-wrap: nowrap;
    width: 100vw;
    height: 100vh;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    padding-top: 120px; }

  .scroll-container > div {
    width: 100vw;
    scroll-snap-align: start; } }

/*# sourceMappingURL=style.css.map */
