@import "../../assets/styles/colors";

.parent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  .container {
    max-width: 2500px;
    width: 100%;
    height: 100%;

    .wrapper {
      position: relative;
      width: 100%;
      height: 100%;

      .scroll-container {
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        width: 100%;
        height: 100%;
      }

      .prev-wrapper {
        position: absolute;
        left: 10px;
        top: 50%;
        font-family: Yfx, serif;
        color: $text-primary-color;
        font-size: 18px;
        letter-spacing: 1px;
        cursor: pointer;
        display: flex;

        .text {
          font-size: 18px;
          letter-spacing: 1px;
          cursor: pointer;
          margin-left: 10px;
          padding-top: 4px;
        }

        .arrow {
          width: 20px;
          transform: rotate(270deg);
        }
      }

      .next-wrapper {
        display: flex;
        position: absolute;
        right: 10px;
        top: 50%;
        font-family: Yfx, serif;
        color: $text-primary-color;
        font-size: 18px;
        letter-spacing: 1px;
        cursor: pointer;

        .text {
          font-size: 18px;
          letter-spacing: 1px;
          cursor: pointer;
          margin-right: 10px;
          padding-top: 4px;
        }

        .arrow {
          width: 20px;
          transform: rotate(90deg);
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {

  .parent {
    width: 100vw;
    height: 100vh;
    position: relative;
  }

  .scroll-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
  }

  .top-arrow-container {
    position: absolute;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;


    .logo-container {
      padding-top: 20px;
    }

    .icon-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: absolute;
      left: 50%;
      transition: 0.3s opacity ease-out;
      transform: translateX(-50%);

      img {
        width: 15px;
      }

      div {
        font-family: Yfx, serif;
        color: $text-primary-color;
        font-size: 12px;
        letter-spacing: 3px;
        text-transform: capitalize;
        margin-top: 5px;
      }
    }
  }

  .bottom-arrow-container {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;


    .icon-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      transition: 0.3s opacity ease-out;

      img {
        width: 15px;
        transform: rotate(180deg);
      }

      div {
        font-family: Yfx, serif;
        color: $text-primary-color;
        font-size: 12px;
        letter-spacing: 3px;
        text-transform: capitalize;
      }
    }
  }
}
