@import "../../assets/styles/colors";

.parent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: #e2e2e2;

  .container {
    max-width: 2560px;
    width: 100%;
    height: 100%;

    .wrapper {
      position: relative;
      width: 100%;
      height: 100%;

      .cancel {
        position: absolute;
        top: 20px;
        left: 20px;
        cursor: pointer;
        z-index: 1;
      }

      .scroll-container {
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        width: 100%;
        height: 100%;
      }

      .prev-wrapper {
        position: absolute;
        left: 10px;
        top: 50%;
        font-family: Yfx, serif;
        color: $text-primary-color;
        font-size: 18px;
        letter-spacing: 1px;
        cursor: pointer;
        display: flex;
        z-index: 1;

        .text {
          font-size: 18px;
          letter-spacing: 1px;
          cursor: pointer;
          margin-left: 10px;
          padding-top: 4px;
        }

        .arrow {
          width: 20px;
          transform: rotate(270deg);
        }
      }

      .next-wrapper {
        display: flex;
        position: absolute;
        right: 10px;
        top: 50%;
        font-family: Yfx, serif;
        color: $text-primary-color;
        font-size: 18px;
        letter-spacing: 1px;
        cursor: pointer;
        z-index: 1;

        .text {
          font-size: 18px;
          letter-spacing: 1px;
          cursor: pointer;
          margin-right: 10px;
          padding-top: 4px;
        }

        .arrow {
          width: 20px;
          transform: rotate(90deg);
        }
      }
    }
  }
}

@media only screen and (max-width: 1500px) {
  .parent {

    .container {

      .wrapper {

        .prev-wrapper {

          .text {
            display: none;
          }
        }

        .next-wrapper {

          .text {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  .parent {

    .container {

      .wrapper {
        display: flex;

        .prev-wrapper {
          position: initial;
          padding: 0 5px;

          .text {
            display: none;
          }
        }

        .next-wrapper {
          position: initial;
          padding: 0 5px;

          .text {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {

  .parent {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: #FAFAFA;
  }

  .scroll-container {
    display: flex;
    flex-wrap: nowrap;
    width: 100vw;
    height: 100vh;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
  }

  .scroll-container > div{
    width: 100vw;
    scroll-snap-align: start;
  }

  .top-arrow-container {
    position: absolute;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo-container {
      padding-top: 20px;
    }

    .icon-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: absolute;
      left: 50%;
      transition: 0.3s opacity ease-out;
      transform: translateX(-50%);

      img {
        width: 15px;
        user-select: none;
      }

      div {
        font-family: Yfx, serif;
        color: $text-primary-color;
        font-size: 12px;
        letter-spacing: 3px;
        text-transform: capitalize;
        margin-top: 5px;
        user-select: none;
      }
    }
  }

  .bottom-arrow-container {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .icon-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      transition: 0.3s opacity ease-out;

      img {
        width: 15px;
        transform: rotate(180deg);
        user-select: none;
      }

      div {
        font-family: Yfx, serif;
        color: $text-primary-color;
        font-size: 12px;
        letter-spacing: 3px;
        text-transform: capitalize;
        user-select: none;
      }
    }
  }
}
