@import "../../assets/styles/colors";

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(239, 239, 239, 0.97);

  .container {
    max-width: 1920px;
    width: 100%;
    height: 100%;
    position: relative;

    .cancel {
      position: absolute;
      top: 20px;
      left: 20px;
      cursor: pointer;
    }

    .body-wrapper {
      display: flex;
      align-items: center;
      height: 100%;
      width: 100%;
      font-family: Yfx, serif;

      .body {
        display: flex;
        height: 100%;
        flex: 1;
        flex-wrap: nowrap;
        overflow: hidden;
        width: 100%;
      }

      .prev-wrapper {
        width: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        .text {
          font-size: 18px;
          letter-spacing: 1px;
          cursor: pointer;
          margin-left: 10px;
          padding-top: 4px;
        }

        .arrow {
          width: 20px;
          transform: rotate(270deg);
        }
      }

      .next-wrapper {
        width: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        .text {
          font-size: 18px;
          letter-spacing: 1px;
          cursor: pointer;
          margin-right: 10px;
          padding-top: 4px;
        }

        .arrow {
          width: 20px;
          transform: rotate(90deg);
        }
      }
    }
  }

}

.hidden {
  opacity: 0;
  filter: blur(5px);
}

.visible {
  opacity: 1;
  filter: blur(0);
}

.page-container {
  height: 100%;
  width: 100%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
}
