.parent {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .logo-wrapper {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 600px) {
  .parent {

    .logo-wrapper {
      margin-top: 20px;
    }
  }
}
