@import "../../assets/styles/colors";
@import "../../assets/fonts/fonts.css";

.parent {
  display: flex;
  position: relative;
  height: 100%;
  justify-content: flex-end;
  min-width: 100%;
  overflow: hidden;

  .image-wrapper {
    position: relative;
    height: 100%;
    margin-right: 6rem;
    display: flex;
    align-items: flex-end;

    .main-image {
      height: 90%;
      position: absolute;
      right: 0;
      bottom: 0;
    }

    .image-shadow {
      height: 90%;
    }
  }

  .details-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 70%;
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    justify-content: center;
    overflow: hidden;

    .top-wrapper {
      color: $secondary-text-color;

      .gender-age {
        font-size: 5vw;
        text-transform: capitalize;
        font-family: Yfx, serif;
        word-spacing: 20px;
      }

      .designation {
        font-size: 1.5vw;
        text-transform: capitalize;
        font-family: Yfx, serif;
        letter-spacing: 2px;
        display: flex;
        flex-direction: column;
        line-height: 60px;
        text-decoration: underline solid 1px;
        text-underline-offset: 15px;
      }

      .jury-wrapper {
        display: flex;
        align-items: center;
        font-family: Yfx, serif;
        margin-top: 12px;

        .jury {
          text-transform: capitalize;
          font-size: 20px;
        }

        .arrow {
          width: 10px;
          transform: rotate(90deg);
          margin: 0 2px;
        }

        .adstars {
          font-size: 14px;
        }
      }
    }

    .middle-wrapper {
      color: $text-primary-color;
      margin: 70px 0;

      .name {
        font-family: b-light, serif;
        font-size: 50px;
        letter-spacing: 1px;
      }

      .noun-success {
        font-size: 30px;

        span {
          &:first-child {
            font-family: b-bold-italic, serif;
          }

          &:last-child {
            font-family: b-regular-italics, serif;
          }
        }
      }

      .description {
        font-family: b-regular-italics, serif;
        line-height: 1.5;
        letter-spacing: 2px;
        font-size: 18px;
        margin-top: 1rem;
      }
    }

    .bottom-wrapper {
      color: $text-primary-color;

      .digits-letters-wrapper {
        display: flex;

        .split {
          display: flex;
          flex-direction: column;

          &:last-child {
            margin-left: 2rem;
          }

          span {
            &:first-child {
              text-transform: uppercase;
              font-family: b-bold-italic, serif;
            }

            &:last-child {
              font-family: b-regular-italics, serif;
              font-size: 16px;
              margin-top: 4px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1680px) {
  .parent {

    .image-wrapper {
      margin-right: 3.5rem;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .parent {
    display: flex;
    flex-direction: row-reverse;

    .main-image {
      position: absolute;
      bottom: 0;
      height: 98%;
    }

    .image-shadow {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: auto;
    }

    .image-wrapper {
      position: absolute;
      height: 100%;
      margin-right: 0;
      right: 0;
      width: calc(100% * 0.75);
    }

    .details-wrapper {
      position: relative;
      flex: 0.9;
      padding-left: 3vw;

      .top-wrapper {
        color: $secondary-text-color;

        .gender-age {
          //font-size: 5vw;
        }

        .designation {
          font-size: 2vw;
          line-height: 50px;
        }
      }

      .middle-wrapper {

        .name {
          font-size: 3vw;
        }

        .noun-success {
          font-size: 2vw;
        }

        .description {
          font-size: 1.5vw;
        }
      }

      .bottom-wrapper {

        .digits-letters-wrapper {

          .split {

            &:last-child {
              margin-left: 2rem;
            }

            span {

              &:last-child {
                font-size: 1.5vw;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .parent {

    .image-wrapper {
      right: -25%;
    }
  }
}

@media only screen and (max-width: 900px) {
  .parent {

    .details-wrapper {
      position: relative;
      padding-left: 3vw;

      .top-wrapper {
        color: $secondary-text-color;

        .gender-age {
          font-size: 6vw;
        }

        .designation {
          //font-size: 4vw;
        }
      }

      .middle-wrapper {

        .name {
          font-size: 5vw;
        }

        .noun-success {
          font-size: 3vw;
        }

        .description {
          font-size: 2.5vw;
        }
      }

      .bottom-wrapper {

        .digits-letters-wrapper {

          .split {

            &:last-child {
              margin-left: 2rem;
            }

            span {

              &:last-child {
                font-size: 2vw;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  .parent {

    .image-wrapper {
      right: -40%;
    }
  }
}
