@import "../../assets/styles/colors";
@import "../../assets/fonts/fonts.css";

.mobile {
  display: none;
}

.desktop {
  display: block;

  .parent {
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
    justify-content: flex-end;
    min-width: 100vw;

    .image-wrapper {
      position: relative;
      height: 100%;
      margin-right: 3.5rem
    }

    .details-wrapper {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: calc(100% / 2);
      display: flex;
      flex-direction: column;
      padding: 0 8rem;
      justify-content: space-evenly;

      .top-wrapper {
        color: $secondary-text-color;

        .gender-age {
          font-size: 6rem;
          text-transform: capitalize;
          font-family: Yfx, serif;
          word-spacing: 20px;
        }

        .designation {
          font-size: 3.25rem;
          text-transform: capitalize;
          font-family: Yfx, serif;
          margin-top: 2rem;
          letter-spacing: 2px;
        }
      }

      .middle-wrapper {
        color: $text-primary-color;

        .name {
          font-family: b-light, serif;
          font-size: 50px;
          letter-spacing: 1px;
        }

        .noun-success {
          font-size: 30px;

          span {
            &:first-child {
              font-family: b-bold-italic, serif;
            }

            &:last-child {
              font-family: b-regular-italics, serif;
            }
          }
        }

        .description {
          font-family: b-regular-italics, serif;
          line-height: 1.5;
          letter-spacing: 2px;
          font-size: 18px;
          margin-top: 1rem;
        }
      }

      .bottom-wrapper {
        color: $text-primary-color;

        .digits-letters-wrapper {
          display: flex;

          .split {
            display: flex;
            flex-direction: column;

            &:last-child {
              margin-left: 2rem;
            }

            span {
              &:first-child {
                text-transform: uppercase;
                font-family: b-bold-italic, serif;
              }

              &:last-child {
                font-family: b-regular-italics, serif;
                font-size: 16px;
                margin-top: 4px;
              }
            }
          }
        }
      }
    }

    .main-image {
      height: 100%;
    }
  }
}


@media only screen and (max-width: 700px) {
  .desktop {
    display: none;
  }

  .mobile {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .parent {
      width: 100%;
      height: 75vh;
      display: flex;
      flex-direction: column;

      .top {
        width: 100%;
        height: 30%;

        .main-image-wrapper {
          background: linear-gradient(45deg, #dcdcdc, #ffffff);
          position: relative;
          height: 100%;
          width: 100%;

          .main-image-shadow {
            height: 95%;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-55%);
          }

          .main-image {
            height: 95%;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }

      .middle {
        height: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 10px 15px 0 15px;

        .gender-age {
          width: 100%;
          font-size: 8vh;
          text-transform: capitalize;
          font-family: Yfx, serif;
          word-spacing: 20px;
          text-align: center;
        }

        .designation {
          font-size: 2vh;
          text-align: center;
          text-transform: capitalize;
          font-family: Yfx, serif;
          letter-spacing: 3px;
          border-top: 1px solid #000;
          border-bottom: 1px solid #000;
          padding: 15px 0 10px 0;
        }
      }

      .bottom {
        flex: 1;
        padding: 0 15px;

        .divide-container {
          display: flex;
          justify-content: space-between;
          padding-top: 2vh;

          .name-description-container {
            width: 58%;
            display: flex;
            flex-direction: column;

            .name {
              font-family: b-light, serif;
              font-size: 7vw;
              letter-spacing: 1px;
            }

            .noun-success {
              font-size: 5vw;

              span {
                &:first-child {
                  font-family: b-bold-italic, serif;
                }

                &:last-child {
                  font-family: b-regular-italics, serif;
                }
              }
            }

            .description {
              font-family: b-regular-italics, serif;
              line-height: 1.5;
              letter-spacing: 2px;
              font-size: 3vw;
              margin-top: 1rem;
            }
          }

          .contact-container {
            width: 39%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-top: 10px;

            .split {
              display: flex;
              flex-direction: column;

              span {
                &:first-child {
                  text-transform: uppercase;
                  font-family: b-bold-italic, serif;
                  font-size: 3.4vw;
                }

                &:last-child {
                  font-family: b-regular-italics, serif;
                  font-size: 3.5vw;
                  margin-top: 4px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 460px) {

  .mobile {

    .parent {

      .middle {
        height: 20%;

        .gender-age {
          width: 100%;
          font-size: 6vh;
          text-transform: capitalize;
          font-family: Yfx, serif;
          word-spacing: 20px;
          text-align: center;
        }
      }
    }
  }
}
