@import "../../assets/styles/colors";

.preview-parent {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(239, 239, 239, 0.95);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  .cancel {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
  }

  .preview-container {
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    width: 100%;
    height: 100%;
    align-items: center;

    .scroll-container {
      width: 90%;
      height: 100%;
      overflow: scroll;
      display: flex;
      flex-direction: column;
      margin-top: 60px;

      .media-wrapper {
        width: 100%;
        margin-bottom: 20px;

        img {
          width: 100%;
        }

        iframe {
          width: 100%;
          border: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {

  .preview-parent {

    .preview-container {

      .scroll-container {

        .media-wrapper {
          width: 100%;
          margin-bottom: 5px;
          
          // for android chrome mobile extra spacing required at the bottom
          &:last-child {
            margin-bottom: 60px;
          }
        }
      }
    }
  }
}
