@import "../../assets/styles/colors";

.preview-parent {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(220, 220, 220, 0.98);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: scroll;

  .cancel {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
  }

  .preview-container {
    display: flex;
    flex-direction: column;
    max-width: 1600px;
    width: 100%;
    height: 100%;
    align-items: center;

    .scroll-container {
      height: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 60px;

      .media-wrapper {
        width: 100%;
        margin-bottom: 20px;

        img {
          width: 100%;
        }

        iframe {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 1680px) {

  .preview-parent {

    .preview-container {

      .scroll-container{
        width: 95%;
      }
    }
  }
}

@media only screen and (max-width: 1350px) {

  .preview-parent {

    .preview-container {
      max-width: 1300px;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 600px) {

  .preview-parent {

    .preview-container {

      .scroll-container {
        width: 90%;

        .media-wrapper {
          width: 100%;
          margin-bottom: 5px;

          // for android chrome mobile extra spacing required at the bottom
          &:last-child {
            margin-bottom: 60px;
          }
        }
      }
    }
  }
}
