@import "../../assets/styles/colors";

.parent {
  height: 100vh;
  min-width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .scroll-container {
    display: flex;
    height: 100%;
    position: relative;
    justify-content: center;
    width: 100%;
    margin-top: 30px;

    .media-wrapper {
      border-radius: 10px;
      cursor: pointer;
      transition: 0.3s ease-out all;
      height: 100%;

      video {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .parent {
    .scroll-container {
      max-width: 100%;
      margin-top: 20px;
    }
  }
}
