@import "../../assets/styles/colors";

.logo-parent {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 20px 0;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease-out transform;

  .logo {
    height: 50px;
    width: 50px;
  }

  .logo-text {
    font-size: 12px;
    font-family: Yfx, serif;
    font-weight: 200;
    text-transform: capitalize;
    text-align: center;
    margin-top: 10px;
    letter-spacing: 3px;
  }

  &:hover {
    transform: scale(1.1);
  }
}

@media only screen and (max-width: 600px) {
  .logo-parent {
    padding: 15px 0;

    .logo {
      height: 40px;
      width: 40px;
    }

    .logo-text {
      font-size: 10px;
    }
}}
