@import "../../assets/styles/colors";

.logo-parent {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease-out transform;

  .logo {
    height: 60px;
    width: 60px;
  }

  .logo-text {
    font-size: 11px;
    font-family: Yfx, serif;
    font-weight: 200;
    text-transform: capitalize;
    text-align: center;
    margin-top: 10px;
    padding-left: 1px;
    letter-spacing: 1.5px;
  }

  &:hover {
    transform: scale(1.1);
  }
}

@media only screen and (max-width: 600px) {
  .logo-parent {

    .logo {
      height: 40px;
      width: 40px;
    }

    .logo-text {
      font-size: 10px;
    }
  }
}
