@import "../../assets/styles/colors";

.parent {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  font-size: 50px;
  font-weight: 500;
  flex-direction: column;

  .logo-wrapper {
    margin-top: 40px;
  }
}

