@import "../../assets/styles/colors";

.parent {
  height: 100vh;
  min-width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .scroll-container {
    overflow: scroll;
    display: flex;
    height: 100%;
    position: relative;
    justify-content: center;
    padding-top: 20px;
    max-width: 1200px;
    width: 100%;

    .media-wrapper {
      border-radius: 10px;
      cursor: pointer;
      transition: 0.3s ease-out all;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
        transition: 0.8s ease-out all;
      }

      video {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}

.hidden {
  opacity: 0;
  filter: blur(5px);
}

.visible {
  opacity: 1;
  filter: blur(0);
}

@media only screen and (max-width: 800px) {
  .scroll-container{

    max-width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .scroll-container{
    max-width: 100%;
  }
}
