@import "../../assets/styles/colors";

.image-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    transition: 0.3s ease-out all;
    max-width: 96%;
    max-height: 100%;
  }

  .loader {
    position: absolute;
    font-size: 30px;
    font-weight: 600;
  }
}
