@import "../../assets/styles/colors";

.parent {
  display: flex;
  position: relative;
  height: 100vh;
  justify-content: center;
  min-width: 100vw;
  padding-top: 25vh;

  .body {
    display: flex;
    flex-direction: column;
    align-items: center;

    .three-layer {
      height: 270px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      .yash-text-wrapper {
        position: absolute;
        right: calc(50% + 60px);
        padding-bottom: 40px;

        .yash-text {
          font-size: var(--cell-font-size);
          font-family: Yfx, serif;
          letter-spacing: 4px;
          height: var(--cell-height);
        }
      }

      video {
        width: 250px;
        height: 250px;
      }

      .slot-wrapper {
        position: absolute;
        left: calc(50% + 60px);
        padding-bottom: 40px;

        .slot-parent {
          display: flex;
          flex-direction: column;

          .slot-container {
            display: flex;
            font-size: var(--cell-font-size);

            .a-text {
              display: flex;
              font-family: Yfx, serif;
              width: var(--cell-width);
              height: var(--cell-height);
              padding-top: var(--cell-padding);
            }

            .slot {
              height: var(--cell-height);
              overflow: hidden;
              font-family: Yfx, serif;
              display: flex;
              cursor: pointer;
            }
          }

          .arrow {
            width: 30px;
            opacity: 0.7;
            cursor: pointer;
            margin-left: 32%;
            pointer-events: none;
          }

          .down-arrow {
            width: 30px;
            opacity: 0.7;
            transform: rotate(180deg);
            cursor: pointer;
            margin-left: 32%;
            pointer-events: none;
          }
        }
      }

    }

    .designation {
      font-family: Yfx, serif;
      display: flex;
      justify-content: space-between;
      padding-top: 2px;
      width: 250px;

      .text {
        letter-spacing: 1.5px;
        font-size: 14px;
      }
    }
  }

  .logo-wrapper {
    position: absolute;
    top: 0;
    left: calc(50% - 25px);
  }

}

@media only screen and (max-width: 700px) {
  .parent {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0;

    .logo-wrapper {
      position: absolute;
      top: 0;
      left: calc(50% - 25px);
    }

    .three-layer {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 70vh;

      .yash-text-wrapper {

        .yash-text {
          font-size: 8vh;
          font-family: Yfx, serif;
          letter-spacing: 4px;
        }
      }

      video {
        width: 45%;
      }

      .designation {
        font-family: Yfx, serif;
        display: flex;
        justify-content: space-between;
        padding-top: 2px;
        width: 250px;
        border-bottom: 1px solid #000000;
        border-top: 1px solid #000000;
        margin-top: 30px;

        .text {
          letter-spacing: 1.5px;
          font-size: 14px;
          padding: 10px 0;
        }
      }

      .slot-wrapper {
        margin-top: 10px;
        
        .slot-parent {
          display: flex;
          flex-direction: column;
          align-items: center;

          .slot-container {
            display: flex;

            .slot {
              height: var(--cell-height-responsive);
              overflow: hidden;
              font-family: Yfx, serif;
              display: flex;
              cursor: pointer;
            }
          }

          .arrow {
            width: 30px;
            opacity: 0.7;
            cursor: pointer;
            pointer-events: none;
          }

          .down-arrow {
            width: 30px;
            opacity: 0.7;
            transform: rotate(180deg);
            cursor: pointer;
            pointer-events: none;
          }
        }
      }
    }
  }
}

