:root {
    --cell-width: 65px;
    --cell-height: 72px;
    --cell-font-size: 80px;
    --cell-padding: 5px;

    --cell-width-responsive: 65px;
    --cell-height-responsive: 72px;
    --cell-font-size-responsive: 80px;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: #FAFAFA;
    font-family: 'Helvetica Neue', arial, sans-serif;
    font-weight: 400;
    color: #353335;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

#app {
    height: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    width: var(--cell-width);
}


.cell {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: var(--cell-padding);
    min-height: var(--cell-height);
}

@media only screen and (max-width: 700px) {

    .column {
        display: flex;
        flex-direction: column;
        width: 60px;
    }

    .cell {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-top: var(--cell-padding);
        min-height: var(--cell-height);
        font-size: 8vh;
    }
}


@media only screen and (max-width: 450px) {
    .column {
        display: flex;
        flex-direction: column;
        width: 50px;
    }
}
