@import "../../assets/styles/colors";

.header {
  font-size: 5.5rem;
  text-transform: capitalize;
  font-family: Yfx, serif;
  word-spacing: 20px;
  color: $secondary-text-color;
}

@media only screen and (max-width: 1350px) {
  .header {
    font-size: 6vw;
  }
}

@media only screen and (max-width: 810px) {
  .header {
    font-size: 7vw;
  }
}

.details {
  display: flex;

  .title-container {
    font-family: b-light, serif;
    font-size: 30px;
    text-align: end;
    list-style: none;
    color: $text-primary-color;
    display: flex;
    flex-direction: column;

    .title-wrapper {
      height: 50px;
      display: flex;

      .title {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }

      .symbol {
        opacity: 0.2;
        margin: 0 0.6rem;
        display: flex;
        align-items: center;
      }
    }
  }

  .desc {
    font-size: 18px;
    list-style: none;
    color: $text-primary-color;
    font-family: b-bold, sans-serif;
    display: flex;
    flex-direction: column;

    span {
      height: 50px;
      display: flex;
      font-size: 16px;
      align-items: center;
      padding-top: 5px;

      .info {
        font-family: b-regular-italics, sans-serif;

        &::before {
          content: '|';
          font-family: b-light, sans-serif;
          font-size: 20px;
          margin: 0 14px;
        }
      }
    }
  }
}

@media only screen and (max-width: 950px) {
  .details {
    display: flex;
    //margin-top: 4rem;

    .title-container {
      font-size: 25px;
    }

    .desc {
      font-size: 16px;

      span {
        font-size: 14px;

        .degree {
          font-family: b-regular-italics, sans-serif;

          &::before {
            font-size: 20px;
          }
        }
      }
    }
  }
}

// MOBILE
@media only screen and (max-width: 700px) {
  .details{
    .title-container {
      font-family: b-light, serif;
      font-size: 5vw;

      .title-wrapper {
        height: 35px;
        display: flex;

        .symbol {
          margin: 0 10px;
        }
      }
    }

    .desc {

      span {
        height: 35px;
        display: flex;
        font-size: 3vw;
        align-items: center;
        padding-top: 0;

        .info {
          font-family: b-regular-italics, sans-serif;

          &::before {
            content: '|';
            font-family: b-light, sans-serif;
            font-size: 3vw;
            margin: 0 8px;
          }
        }
      }
    }
  }
}
