
.lazy-image-wrapper {
  height: 100%;
  overflow: hidden;

  img {
    max-height: 100%;
    object-fit: cover;
    transition: 0.8s ease-out all;
  }
}

.hidden {
  opacity: 0;
  filter: blur(5px);
}

.visible {
  opacity: 1;
  filter: blur(0);
}
