@import "../../assets/styles/colors";

.parent {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 100%;

  .container {
    max-width: 2500px;
    margin-top: 30px;

    .grid {
      display: grid;
      grid-template-columns: 32% 32% 32%;
      justify-content: space-evenly;
      padding-bottom: 10px;
      grid-row-gap: 10px;

      .image-wrapper {
        border-radius: 10px;
        transition: 0.3s ease-out all;
        overflow: hidden;

        .cell {
          width: 100%;
          height: 100%;
          border-radius: 10px;
          filter: grayscale(1);
          cursor: pointer;
          transition: 0.3s ease-out all;

          &:hover {
            filter: grayscale(0);
            transform: scale(1.01);
          }
        }
      }
    }
  }
}

.hidden {
  opacity: 0;
  filter: blur(5px);
}

.visible {
  opacity: 1;
  filter: blur(0);
}

.description-parent {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(239, 239, 239, 0.95);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  .desc-container {
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    width: 100%;
    height: 100%;
    align-items: center;

    .scroll-container {
      width: 90%;
      height: 100%;
      overflow: scroll;
      display: flex;
      align-items: center;
      justify-content: center;

      .media-wrapper {
        margin: 5px 0;
        height: 500px;
        width: 100%;

        img {
          height: 100%;
          width: 100%;
        }

        iframe {
          width: 100%;
          border: none;
        }
      }
    }
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scroll-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media only screen and (max-width: 1680px) {
  .parent {
    .container {
      max-width: 1240px;
    }
  }
}

@media only screen and (max-width: 1240px) {
  .parent {
    .container {
      max-width: 100%;
    }
  }
}

@media only screen and (max-width: 900px) {
  .parent {
    .container {
      max-width: 100%;
      margin-top: 20px;

      .grid {
        grid-template-columns: 47% 47%;

        .image-wrapper {

          .cell {
            filter: grayscale(0);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .parent {
    .container {
      max-width: 100%;

      .grid {
        grid-template-columns: 94%;
      }
    }
  }


  .description-parent {
    .desc-container {
      .scroll-container {
        .media-wrapper {
          &:last-child {
            // to extra margin at the bottom of the chrome browser on mobile because of AppLayout navigation hide on scroll
            margin-bottom: 60px;
          }
        }
      }
    }
  }
}

