@import "../../assets/styles/colors";

.parent {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 100%;

  .grid {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 10px;

    .image-wrapper {
      min-height: 165px;
      border-radius: 10px;
      transition: 0.3s ease-out all;
      overflow: hidden;

      .cell {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        filter: grayscale(1);
        cursor: pointer;
        transition: 0.3s ease-out all;

        &:hover {
          filter: grayscale(0);
          transform: scale(1.05);
        }
      }
    }
  }
}

.hidden {
  opacity: 0;
  filter: blur(5px);
}

.visible {
  opacity: 1;
  filter: blur(0);
}

.description-body {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(239, 239, 239, 0.95);
  display: flex;
  align-items: center;
  justify-content: center;

  .description-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 1280px;

    .description-center-piece {
      border: 1px solid #cccccc;
      background: white;
      padding: 0 40px 50px 40px;
      width: 35%;
      text-align: center;
      border-radius: 10px;
      position: relative;

      .description {
        font-size: 18px;
        color: #353335;
        line-height: 1.7;
        font-family: b-bold-italic, serif;
      }

      .bottom-line {
        width: 100px;
        height: 10px;
        border-radius: 10px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50px) translateY(5px);
        background: #353335;
      }

      .close {
        position: absolute;
        top: 0;
        right: 0;
        background: #353335;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        transition: 0.3s ease-out opacity;
        opacity: 0.8;
        cursor: pointer;
        transform: translateY(-12.5px) translateX(12.5px);
        padding: 6px;

        &:hover {
          opacity: 1;
        }
      }

      .close-message {
        position: absolute;
        top: 0;
        right: 0;
        transform: translateY(-50%) translateX(calc(100% + 20px));
        font-size: 18px;
        color: #353335;
        font-family: b-bold-italic, serif;
      }

      .logo {
        width: 50px;
        position: absolute;
        top: 0;
        left: 50%;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .grid {
    grid-template-columns: 90%;
    padding-top: 20px;
    gap: 10px;

    .cell {
      filter: grayscale(0);
    }
  }
}

