.mobile {
  display: none; }

.desktop {
  width: 100%;
  height: 100%; }
  .desktop .parent {
    display: flex;
    position: relative;
    height: 100%;
    justify-content: flex-end;
    width: 100%; }
    .desktop .parent .image-wrapper {
      position: absolute;
      height: 100%;
      width: 65%;
      display: flex;
      left: 0;
      top: 0;
      bottom: 0;
      justify-content: flex-end;
      align-items: flex-end; }
      .desktop .parent .image-wrapper .shadow-image {
        height: 100%; }
      .desktop .parent .image-wrapper .main-image {
        position: absolute;
        height: 100%;
        right: 0;
        bottom: 0; }
    .desktop .parent .right-content {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      z-index: 1; }
      .desktop .parent .right-content .details-wrapper {
        width: fit-content;
        height: 60%; }
        .desktop .parent .right-content .details-wrapper .top-wrapper {
          color: #353335;
          width: fit-content; }
          .desktop .parent .right-content .details-wrapper .top-wrapper .header {
            font-size: 6rem;
            text-transform: capitalize;
            font-family: Yfx, serif;
            word-spacing: 20px;
            color: #353335; }
          .desktop .parent .right-content .details-wrapper .top-wrapper .time-parent {
            display: flex;
            height: 60px;
            font-family: Yfx, serif;
            color: #353335;
            justify-content: space-between;
            opacity: 0.4;
            margin-top: 2.4rem; }
            .desktop .parent .right-content .details-wrapper .top-wrapper .time-parent .number {
              display: flex;
              flex-direction: column;
              align-items: center;
              font-size: 30px; }
              .desktop .parent .right-content .details-wrapper .top-wrapper .time-parent .number:after {
                content: attr(value);
                margin-top: 10px;
                font-size: 12px; }
            .desktop .parent .right-content .details-wrapper .top-wrapper .time-parent .colon {
              font-size: 30px;
              padding-top: 6px;
              font-weight: bolder; }
        .desktop .parent .right-content .details-wrapper .middle-wrapper {
          display: flex;
          justify-content: flex-end;
          margin-top: 4rem; }
          .desktop .parent .right-content .details-wrapper .middle-wrapper .details {
            display: flex;
            width: fit-content; }
            .desktop .parent .right-content .details-wrapper .middle-wrapper .details .titles {
              font-family: b-light, serif;
              font-size: 30px;
              text-align: end;
              list-style: none;
              color: #000000;
              display: flex;
              flex-direction: column; }
              .desktop .parent .right-content .details-wrapper .middle-wrapper .details .titles span {
                height: 50px; }
                .desktop .parent .right-content .details-wrapper .middle-wrapper .details .titles span span {
                  opacity: 0.2;
                  margin: 0 0.6rem; }
            .desktop .parent .right-content .details-wrapper .middle-wrapper .details .desc {
              font-size: 18px;
              list-style: none;
              color: #000000;
              font-family: b-bold, sans-serif;
              display: flex;
              flex-direction: column; }
              .desktop .parent .right-content .details-wrapper .middle-wrapper .details .desc span {
                height: 50px;
                display: flex;
                font-size: 16px;
                align-items: center; }
                .desktop .parent .right-content .details-wrapper .middle-wrapper .details .desc span .designation {
                  font-family: b-regular-italics, sans-serif;
                  text-transform: capitalize;
                  font-size: 18px; }
                  .desktop .parent .right-content .details-wrapper .middle-wrapper .details .desc span .designation::before {
                    content: '|';
                    font-family: b-light, sans-serif;
                    font-size: 20px;
                    margin: 0 14px; }

@media only screen and (max-width: 1420px) {
  .desktop .parent .image-wrapper {
    position: absolute;
    height: 100%;
    width: 65%;
    display: flex;
    left: 0;
    top: 0;
    bottom: 0;
    justify-content: flex-end; }
    .desktop .parent .image-wrapper .shadow-image {
      height: 90%; }
    .desktop .parent .image-wrapper .main-image {
      position: absolute;
      height: 90%;
      right: 0;
      bottom: 0; }
  .desktop .parent .right-content .details-wrapper .top-wrapper .header {
    font-size: 6vw; }
  .desktop .parent .right-content .details-wrapper .top-wrapper .time-parent .number {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px; }
    .desktop .parent .right-content .details-wrapper .top-wrapper .time-parent .number:after {
      content: attr(value);
      margin-top: 10px;
      font-size: 12px; }
  .desktop .parent .right-content .details-wrapper .top-wrapper .time-parent .colon {
    font-size: 30px;
    padding-top: 6px;
    font-weight: bolder; }
  .desktop .parent .right-content .details-wrapper .middle-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 4rem; }
    .desktop .parent .right-content .details-wrapper .middle-wrapper .details {
      display: flex;
      width: fit-content; }
      .desktop .parent .right-content .details-wrapper .middle-wrapper .details .titles {
        font-family: b-light, serif;
        font-size: 30px;
        text-align: end;
        list-style: none;
        color: #000000;
        display: flex;
        flex-direction: column; }
        .desktop .parent .right-content .details-wrapper .middle-wrapper .details .titles span {
          height: 50px; }
          .desktop .parent .right-content .details-wrapper .middle-wrapper .details .titles span span {
            opacity: 0.2;
            margin: 0 0.6rem; }
      .desktop .parent .right-content .details-wrapper .middle-wrapper .details .desc {
        font-size: 18px;
        list-style: none;
        color: #000000;
        font-family: b-bold, sans-serif;
        display: flex;
        flex-direction: column; }
        .desktop .parent .right-content .details-wrapper .middle-wrapper .details .desc span {
          height: 50px;
          display: flex;
          font-size: 16px;
          align-items: center; }
          .desktop .parent .right-content .details-wrapper .middle-wrapper .details .desc span .designation {
            font-family: b-regular-italics, sans-serif;
            text-transform: capitalize;
            font-size: 18px; }
            .desktop .parent .right-content .details-wrapper .middle-wrapper .details .desc span .designation::before {
              content: '|';
              font-family: b-light, sans-serif;
              font-size: 20px;
              margin: 0 14px; } }
@media only screen and (max-width: 950px) {
  .desktop {
    display: none; }

  .mobile {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; }
    .mobile .parent {
      width: 100%;
      height: 75vh;
      display: flex;
      flex-direction: column; }
      .mobile .parent .top {
        width: 100%;
        height: 30%; }
        .mobile .parent .top .main-image-wrapper {
          background: linear-gradient(270deg, #dcdcdc, #ffffff);
          position: relative;
          height: 100%;
          width: 100%; }
          .mobile .parent .top .main-image-wrapper .main-image-shadow {
            height: 95%;
            position: absolute;
            bottom: 0;
            left: 10%; }
          .mobile .parent .top .main-image-wrapper .main-image {
            height: 95%;
            position: absolute;
            bottom: 0;
            left: 15%; }
          .mobile .parent .top .main-image-wrapper .smoke {
            position: absolute;
            left: 11.3%;
            top: 13%;
            width: 22vh; }
      .mobile .parent .middle {
        height: 28%;
        padding: 0 15px; }
        .mobile .parent .middle .middle-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          border-bottom: 1px solid #ccc;
          height: 100%; }
          .mobile .parent .middle .middle-wrapper .header {
            font-size: 12vw;
            text-transform: capitalize;
            font-family: Yfx, serif;
            word-spacing: 20px;
            color: #353335;
            text-align: center; }
          .mobile .parent .middle .middle-wrapper .time-parent {
            display: flex;
            height: 60px;
            font-family: Yfx, serif;
            color: #353335;
            justify-content: space-between;
            opacity: 0.4; }
            .mobile .parent .middle .middle-wrapper .time-parent .number {
              display: flex;
              flex-direction: column;
              align-items: center;
              font-size: 6vw; }
              .mobile .parent .middle .middle-wrapper .time-parent .number:after {
                content: attr(value);
                margin-top: 10px;
                font-size: 2.5vw; }
            .mobile .parent .middle .middle-wrapper .time-parent .colon {
              font-size: 6vw;
              padding-top: 6px;
              font-weight: bolder; }
      .mobile .parent .bottom {
        flex: 1;
        padding: 0 15px;
        overflow: hidden; }
        .mobile .parent .bottom .details {
          display: flex;
          justify-content: center;
          height: 100%; }
          .mobile .parent .bottom .details .titles {
            font-family: b-light, serif;
            font-size: 5vw;
            text-align: end;
            list-style: none;
            color: #000000;
            display: flex;
            flex-direction: column;
            height: 100%; }
            .mobile .parent .bottom .details .titles span {
              flex: 1;
              display: flex;
              align-items: center; }
              .mobile .parent .bottom .details .titles span span {
                opacity: 0.2;
                margin: 0 0.6rem; }
          .mobile .parent .bottom .details .desc {
            list-style: none;
            color: #000000;
            font-family: b-bold, sans-serif;
            display: flex;
            flex-direction: column;
            height: 100%; }
            .mobile .parent .bottom .details .desc span {
              flex: 1;
              display: flex;
              font-size: 3vw;
              align-items: center; }
              .mobile .parent .bottom .details .desc span .designation {
                font-family: b-regular-italics, sans-serif; }
                .mobile .parent .bottom .details .desc span .designation::before {
                  content: '|';
                  font-family: b-light, sans-serif;
                  font-size: 3vw;
                  margin: 0 14px; } }

/*# sourceMappingURL=style.css.map */
