<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="yes" name="mobile-web-app-capable">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <link href="/assets/icons/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="assets/fonts/fonts.css" rel="stylesheet">

    <!-- HTML Meta Tags -->
    <title>Yash Ambre</title>
    <meta name="description" content="Passionate, ambitious and artistic towards work and life equally. A rare combination of positive and creative blood, living up to its name.">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://www.yashambre.com/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Yash Ambre">
    <meta property="og:description" content="Passionate, ambitious and artistic towards work and life equally. A rare combination of positive and creative blood, living up to its name.">
    <meta property="og:image"
          content="https://firebasestorage.googleapis.com/v0/b/yash-portfolio-79bbe.appspot.com/o/misc%2Fbanner.jpg?alt=media">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="yashambre.com">
    <meta property="twitter:url" content="https://www.yashambre.com/">
    <meta name="twitter:title" content="Yash Ambre">
    <meta name="twitter:description" content="Passionate, ambitious and artistic towards work and life equally. A rare combination of positive and creative blood, living up to its name.">
    <meta name="twitter:image"
          content="https://firebasestorage.googleapis.com/v0/b/yash-portfolio-79bbe.appspot.com/o/misc%2Fbanner.jpg?alt=media">

    <% preact.headEnd %>
</head>
<body>
<% preact.bodyEnd %>
</body>
</html>
