<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="yes" name="mobile-web-app-capable">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <link href="/assets/icons/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="assets/fonts/fonts.css" rel="stylesheet">
    <link href="assets/fonts/Yfx-Regular.ttf" rel="preload" as="font">

    <!-- HTML Meta Tags -->
    <title>The Book of Yash Ambré</title>
    <meta content="Passionate, ambitious and artistic towards work and life equally. A rare combination of positive and creative blood, living up to its name."
          name="description">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="The Book of Yash Ambré">
    <meta itemprop="description" content="Passionate, ambitious and artistic towards work and life equally. A rare combination of positive and creative blood, living up to its name.">
    <meta itemprop="image" content="https://firebasestorage.googleapis.com/v0/b/portfolio-371bd.appspot.com/o/misc%2Fbanner.jpeg?alt=media">

    <!-- Facebook Meta Tags -->
    <meta content="https://www.yashambre.com/" property="og:url">
    <meta content="website" property="og:type">
    <meta content="The Book of Yash Ambré" property="og:title">
    <meta content="Passionate, ambitious and artistic towards work and life equally. A rare combination of positive and creative blood, living up to its name."
          property="og:description">
    <meta content="https://firebasestorage.googleapis.com/v0/b/portfolio-371bd.appspot.com/o/misc%2Fbanner.jpeg?alt=media"
          property="og:image">

    <!-- Twitter Meta Tags -->
    <meta content="summary_large_image" name="twitter:card">
    <meta content="yashambre.com" property="twitter:domain">
    <meta content="https://www.yashambre.com/" property="twitter:url">
    <meta content="The Book of Yash Ambré" name="twitter:title">
    <meta content="Passionate, ambitious and artistic towards work and life equally. A rare combination of positive and creative blood, living up to its name."
          name="twitter:description">
    <meta content="https://firebasestorage.googleapis.com/v0/b/portfolio-371bd.appspot.com/o/misc%2Fbanner.jpeg?alt=media"
          name="twitter:image">

    <% preact.headEnd %>
</head>
<body>
<% preact.bodyEnd %>
</body>
</html>
