@import "../../assets/styles/colors";

.parent {
  display: flex;
  position: relative;
  height: 100vh;
  justify-content: flex-end;
  min-width: 100%;
  overflow: hidden;

  .image-wrapper {
    position: relative;
    height: 100%;
    width: 60%;

    .main-image-shadow {
      height: 90%;
      position: absolute;
      left: 20px;
      bottom: 0;
    }

    .main-image {
      height: 90%;
      position: absolute;
      left: 100px;
      bottom: 0;
    }
  }

  .details-container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: calc(100% / 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 4rem;

    .wrapper {

      .details-wrapper {
        margin-top: 4rem;
      }
    }
  }
}

@media only screen and (max-width: 950px) {
  .parent {
    .details-container {
      padding-right: 0;
      align-items: center;
      width: 60%;
    }
  }
}
