@import "../../assets/styles/colors";

.parent {
  display: flex;
  position: relative;
  height: 100vh;
  justify-content: flex-end;
  min-width: 100%;

  .image-wrapper {
    position: relative;
    height: 100%;
    width: 60%;

    .main-image-shadow {
      height: 100%;
      position: absolute;
      bottom: 0;
    }

    .main-image {
      height: 100%;
      position: absolute;
      right: 10px;
      bottom: 0;
    }
  }

  .details-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: calc(100% / 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 4rem;

    .wrapper {
      .header {
        font-size: 6rem;
        text-transform: capitalize;
        font-family: Yfx, serif;
        word-spacing: 20px;
        color: $secondary-text-color;
      }

      .details {
        display: flex;
        margin-top: 4rem;

        .titles {
          font-family: b-light, serif;
          font-size: 30px;
          text-align: end;
          list-style: none;
          color: $text-primary-color;
          display: flex;
          flex-direction: column;

          span {
            height: 50px;

            span {
              opacity: 0.2;
              margin: 0 0.6rem;
            }
          }
        }

        .desc {
          font-size: 18px;
          list-style: none;
          color: $text-primary-color;
          font-family: b-bold, sans-serif;
          display: flex;
          flex-direction: column;

          span {
            height: 50px;
            display: flex;
            font-size: 16px;
            align-items: center;
            padding-top: 5px;

            .degree {
              font-family: b-regular-italics, sans-serif;

              &::before {
                content: '|';
                font-family: b-light, sans-serif;
                font-size: 20px;
                margin: 0 14px;
              }
            }
          }

          span .download-cv {
            height: fit-content;
            font-family: b-light, sans-serif;
            font-size: 14px;
            border-radius: 5px;
            background: black;
            cursor: pointer;
            color: white;
            padding: 0 4px;
            transition: 0.3s ease-out transform;

            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  .parent {
    .details-wrapper {
      padding-right: 0;
      align-items: center;

      .wrapper {
        .header {
          font-size: 6vw;
        }

        .details {
          display: flex;
          margin-top: 4rem;

          .titles {
            font-size: 30px;
          }

          .desc {
            font-size: 18px;

            span {

              .degree {

                &::before {
                  content: '|';
                  font-family: b-light, sans-serif;
                  font-size: 20px;
                  margin: 0 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  .desktop {
    .parent {
      .image-wrapper {

        .main-image {
          height: 95%;
        }

        .main-image-shadow {
          height: 95%;
        }
      }

      .details-wrapper {
        padding-right: 0;
        align-items: flex-start;
        padding-left: 30px;

        .wrapper {
          .header {
            font-size: 6vw;
          }

          .details {
            display: flex;
            margin-top: 4rem;

            .titles {
              font-size: 30px;
            }

            .desc {
              font-size: 18px;

              span {

                .degree {

                  &::before {
                    content: '|';
                    font-family: b-light, sans-serif;
                    font-size: 20px;
                    margin: 0 14px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .parent {

    .details-wrapper {
      padding-right: 0;
      align-items: center;

      .wrapper {

        .details {
          display: flex;
          margin-top: 4rem;

          .titles {
            font-size: 3vw;
          }

          .desc {
            font-size: 2vw;

            span {

              .degree {

                &::before {
                  content: '|';
                  font-family: b-light, sans-serif;
                  font-size: 2vw;
                  margin: 0 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .parent {
    .image-wrapper {
      transform: translateX(70%);
    }
  }
}
