@import "../../assets/styles/colors";

.parent {
  display: flex;
  position: relative;
  height: 100vh;
  min-width: 100%;
  overflow: hidden;

  .details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex: 1;

    .wrapper {

      .details-wrapper {
        margin-top: 4rem;
      }
    }
  }

  .image-wrapper {
    position: relative;
    height: 100%;
    flex: 1;

    .main-image-shadow {
      height: 90%;
      position: absolute;
      left: 20px;
      bottom: 0;
    }

    .main-image {
      height: 90%;
      position: absolute;
      left: 100px;
      bottom: 0;
    }
  }



}

@media only screen and (max-width: 950px) {
  .parent {
    .details-container {
      padding-right: 0;
    }

    .image-wrapper{
      flex: 0.8;

      .main-image-shadow {
        left: 0;
      }

      .main-image {
        left: 60px;
      }
    }
  }
}
